/* The styles for .navbar, .navbar a and .navbar b is for all the pages in the website. */
.navbar {
  overflow: hidden;
  background-color: white;
  padding: 15px;
}
.navbar a {
  float: right;
  font-size: 16px;
  color: #2c313f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Exo 2";
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
}
.navbar a:hover { 
  color: #3e69dc; 
}
.site-name {
  position: absolute;
  top: 35px;
  left: 30px;
  font-family: "poppins";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  color: #3e69dc;
  text-decoration: none;
}
.site-name:hover { 
  color: #2c313f; 
}
/* The styles for all the pages ends here. */
.home {
  position: absolute;
  top: 10px;
  left: 160px;
  font-family: "poppins";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  color: #3e69dc;
  text-decoration: none;
  transform: translate(-50%, -50%);
}
/* The below style is only for the cover image in the homepage. */
.cover {
  width: 100%;
  height: 575px;
  background-size: cover;
  margin-top: none;
  top: 104px; 
  filter: grayscale(20px); 
  padding: 0px;
}
.cover img {
  margin-left: none;
}
figcaption {
  position: absolute;
  top: 70%;
  right: 1;
}
.home {
  color: white;
  font-family: "poppins";
  font-weight: 700;
  font-size: 49px;
}
figure {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;

}
body {
  margin: 0px;
  padding: 0px;
}
html {
  padding: 0px;
  margin: 0px;
}
/* The below style is only for the content in the p tag(home) */
.about {
  font-family: "Exo 2";
  font-weight: bold;
  color: #7a7c84;
  font-size: 1.25em;
  margin-left: 13em;
  margin-right: 30em;
  line-height: 1.5em;
  margin-top: 5.6em;
  margin-bottom: 10em;
  /* position: absolute; */
  top: 645px;  
}

/* The below style is for About page. */
.entry-title {
  margin-left: 260px;
  margin-right: none;
  margin-top: 3em;
  font-family: "poppins";
  font-weight: 700;
  font-size: 49px;
  line-height: 60px;
  font-style: normal;
  color: #2c313f;
}

/* Style for the line: */
hr{
  border: none;
  height: 0.5px;
  background-color: #7a7c84;
  size: 9;
}
/* The below style is for the About page's paragraph content. */
.paragraph {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7a7c84;
  font-size: 1.25em;
  margin-left: 260px;
  margin-right: 29em;
  line-height: 1.5em;
  margin-top: none;
  margin-bottom: 10em;
}

/* The below style is for teh h2 element in the About page. */
h2 {
  margin-left: 260;
  font-family: "poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  font-style: normal;
  color: #7a7c84;
  position: relative; 
  top: -9em;
}
.profile_image {
  height: 36em;
  width: 36em;
  float: left;
  margin-left: 260px;
  margin-bottom: 15em;
  position: absolute;
  top: 1970px;
}
.blog-title {
  font-family: "poppins";
  font-weight: 700;
  font-style: normal;
  font-size: 49px;
  line-height: 60px;
  color:#2c313f;
  margin-left: 250px;
  margin-right: 12em;
  margin-top: 2em;
}
.video {
    margin-left: 250px;
    margin-right: 12em;
}
.blog-date {
  margin-top: 33px;
  margin-left: 250px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7a7c84;
}
/* .blog-author {
  margin-top: 200px;
  margin-left: 250px;
  text-decoration: underline;
  font-family: "Exo 2";
  font-style: normal;
  color: #2c313f;
  font-weight: 400;
  font-size: 20px;
}
blog-author:hover {
  background-color: #3e69dc;
} */
.blog {
  font-family: "Exo 2";
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 530px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #7a7c84;
}
.blog2-image {
    height: 36em;
    width: 36em;
    margin-left: 250px;
}
.blog3-image {
    height: 435px;
    width: 592px;
    margin-left: 250px;
}
.page-title {
    font-family: "poppins";
    font-weight: 700;
    font-style: normal;
    font-size: 49px;
    line-height: 60px;
    color:#2c313f;
    margin-left: 250px;
    margin-right: 12em;
    margin-top: 2em;
  }
  .contact-page {
    margin-left: 260px;
    margin-right: none;
    margin-top: 2em;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: #7a7c84; 
  }
  .contact-page-second-line {
    margin-left: 260px;
    margin-right: none;
    margin-top: 2em;
    font-family: "Arial";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: #7a7c84; 
  }
  .email {
    margin-left: 260px;
    margin-right: none;
    margin-top: 2em;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: #2c313f; 
    text-decoration: underline;
  }
  .fb {
    margin-left: 260px;
    margin-right: none;
    margin-top: 2em;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: #2c313f; 
    text-decoration: underline;
  }
  .navbar .current-page {
    text-decoration: underline;
  }